:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navBar{
  position: sticky;
  top: 0;
  display: flex;
  height: 6rem;
  padding: 0px;
  background-color: rgba(40, 40, 40, 0.90);
  justify-content: flex-end;
  border: 1px solid #1a1a1a;
  box-shadow: 0, 4px, 4px, rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  z-index: 999;
}

.nav{
  font-size: 1.5rem;
  list-style-type: none;
  display: flex;
  gap: 5rem;
  margin-right: 10rem;
  font-weight: 500;
  letter-spacing: 1px;
  align-items: center;
}

.navButton{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.homeSection{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.aboutSection{
  margin: auto;
  width: calc(90% - 2rem);
  font-weight: 400;
  line-height: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
}

.about, .projects, .contact{
  scroll-margin-top: 70px;
}

@media (max-width: 768px){
  .aboutSection{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .aboutParagraph{
    width: 100%;
  }
}

@media (min-width: 768px){
  .aboutParagraph{
    width: 75%;
  }
}

.muralImg{
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.sectionHeader{
  text-align: center;
  font-size: 50px;
}

.sectionHeader::before{
  position: absolute;
  content: '';
  border-bottom: 18px solid #ff4d5a;
  width: 11rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 2rem;
  top: 5.5rem;
  z-index: -1;
}

.skillsFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 1rem;
}

.skillCard{
  display: flex;
  flex-direction: column;
    align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 100px;
  border: 3px solid #ff4d5a;
  position: relative;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
}

.skillLogo{
  width: 60px;
  height: 100%;
  object-fit: contain;
}

.projectsContainer{
  margin: auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

@media (min-width: 768px){
  .projectsContainer{
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .projectCard{
    width: 100%;
    height: 175px;
    background-color: green;
    border-radius: 10px;
    overflow: clip;
    background-color: #141414
  }
}

@media (max-width: 768px){
  .projectsContainer{
    margin: auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .projectCard{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    overflow: clip;
    background-color: #141414
  }
}

.projectVideo{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.projectImg{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  transition: 1s ease;
}

.projectImg:Hover{
  transform: scale(1.1);
}

.homeContent{
  position: absolute;
}

.homeButton{
  display: block;
  margin: auto;
  padding: 1rem;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background: rgba(255, 77, 90, 0.1);
  border: 2px solid #ff4d5a;
  text-decoration: none;
  color: white;
  font-family: inherit;
  text-align: center;
  width: 120px;
  transition: 0.1s ease;
}

.homeButton:hover{
  transform: scale(1.1);
}

.nameEmail{
  display: block;
  box-sizing: border-box;
  margin: auto;
  width: 40%;
  height: 40px;
  border: none;
  padding-left: 10px;
  margin-bottom: 10px;
  color: #ececec;
  background-color: rgb(45, 45, 45);
  outline: none;
  font-size: 1.3rem;
}

.nameEmail::placeholder{
  color: #9e9e9e;
}

.contactMessage{
  display: block;
  box-sizing: border-box;
  margin: auto;
  width:40%;
  min-height: 150px;
  overflow-y: visible;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  color: #ececec;
  background-color: rgb(45, 45, 45);
  outline: none;
  font-size: 1.3rem;
  resize: none;
  font-family: inherit;
}

.contactMessage::placeholder{
  color: #9e9e9e;
}

.contactSubmit{
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 15px;
  border: none;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  background-color: #ff4d5a;
  transition: 0.1s ease;
}

.contactSubmit:hover{
  transform: scale(1.1);
}